<a href="/">home</a>
&emsp;
<a href="/blog">blog</a>
<span style="float:right;">
  <a  href="/pages/about.html">about</a>
  &emsp;
  <a  href="mailto:contact@fathom.network">contact</a>
</span>

<div class= "header">
    <h1 class= "title">  <a href="/whitepaper">the fathom whitepaper:</a></h1>

    <div class = "navContainer">
        <div class="dropdown">
            <a class="dropbtn" href="/whitepaper/1-Intro.html#intro">Intro</a>
            <div class="dropdown-content">
                <a href="/whitepaper/1-Intro.html#sec:problem">Problem Statement</a>
                <a href="/whitepaper/1-Intro.html#sec:introducing">Introducing Fathom</a>
            </div>
        </div>
        &emsp; &emsp;
        <div class="dropdown">
            <a href="/whitepaper/2-Protocol.html" class="dropbtn">Protocol</a>
            <div class="dropdown-content">
                <a href="/whitepaper/2-Protocol.html#sec:architecture">Architecture Overview</a>
                <a href="/whitepaper/2-Protocol.html#sec:assprocess">Assessment Process</a>
            </div>
        </div>
        &emsp; &emsp;
        <div class ="dropdown">
            <a href ="/whitepaper/3-Security.html" class ="dropbtn">Security</a>
            <div class="dropdown-content">
                <a href="/whitepaper/3-Security.html#sec:incentive">Incentive Structure</a>
                <a href="/whitepaper/3-Security.html#sec:attackVectors">Attack Vectors</a>
            </div>
        </div>
        &emsp; &emsp;
        <div class="dropdown">
            <a class="dropbtn" href="/whitepaper/4-Ahead.html">Vision</a>
        </div>
        &emsp; &emsp;
        <div class="dropdown">
            <a class="dropbtn" href="/static/pdf/whitepaper.pdf">PDF</a>
        </div>
    </div>
</div>
